@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

body {
    background-color: #52accc;
}

nav {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 9999;
  background-color: #181c22;
  background-position: top;
}

ul {
  margin: 0;
  padding: 0.5em;
}

li {
  display: inline;
  padding: 0.5em;
  font-size: 16px;
  font-variant: small-caps;
}

#title {
  color: white;
  text-align: center;
  font-family: Pacifico;
  font-size: 5em;
  padding: .5em;
}

div#homeContainer {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) }
}