<div class="container">
  <h1 class="text-center">Sign Up With <span class="title">Vocabulary Thing!</span></h1>
</div>

<div class="container">
  <form name="userForm" role="form" class="form-horizontal" ng-contoller="FormCtrl" novalidate>

    <div class="form-group">
      <label class="control-label col-sm-2" for="firstname">First Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="firstname" id="firstname" ng-model="user.firstname" placeholder="Enter First Name...">
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : userForm.lastname.$invalid && userForm.lastname.$touched }">
      <label class="control-label col-sm-2" for="lastname">Last Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="lastname" id="lastname" ng-model="user.lastname" placeholder="Enter Last Name..."  required>
        <span ng-show="userForm.lastname.$invalid && userForm.lastname.$touched" class="help-block" id="lastnameValidate">Your last name is required.</span>
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : userForm.email.$touched && userForm.email.$invalid }">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" name="email" id="email" placeholder="Enter Email..." ng-model="user.email" required>
        <span ng-show="userForm.email.$touched && userForm.email.$error.required" class="help-block" id="emailBlankValidate">Enter your email.</span>
        <span ng-show="userForm.email.$touched && userForm.email.$error.email" class="help-block" id="emailErrorValidate">Please enter a valid email.</span>
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : userForm.birthdate.$invalid && !userForm.birthdate.$pristine }">
      <label class="control-label col-sm-2" for="birthdate">Birthdate:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="birthdate" id="birthdate" ng-model="birthdate" placeholder="Enter date as mm/dd/yyyy" ng-change="checkBirthdate()" ng-pattern="/^[0-9]{2}\/[0-9]{2}\/[0-9]{4}$/i">
        <span ng-show='userForm.birthdate.$error.pattern' class="help-block" id="dateValidation">Your date format is invalid, please enter as mm/dd/yyyy!</span>
        <span ng-show="checkBirthdate() && userForm.birthdate.$touched" class="help-block" id="ageCheck">You must be at least 13.</span>
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : userForm.pw1.$invalid && userForm.pw1.$touched }">
      <label class="control-label col-sm-2" for="pwd">Password:</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" name="pw1" id="pw1" placeholder="Enter Password..." ng-model="user.password" required>
        <span ng-show="userForm.pw1.$invalid && userForm.pw1.$touched" class="help-block" id="passwordValidate">Password required!</span>
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : userForm.pw2.$error.nxEqualEx }">
      <label class="control-label col-sm-2" for="confirmpwd">Confirm Password:</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" name="pw2" id="pw2" placeholder="Confirm Password..." ng-model="user.confirm" nx-equal-ex="user.password" required>
        <span ng-show="userForm.pw2.$error.nxEqualEx" class="help-block" id="passwordConfirmValidate">Passwords must be equal!</span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="reset" class="btn btn-default">Reset</button>
        <button ng-disabled="userForm.$invalid" type="submit" class="btn btn-primary" id="formSubmit">Submit</button>
      </div>
    </div>

  </form>
</div>